* {
    box-sizing: border-box;
}

body {
    background:rgb(211, 214, 213);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
header {
    background: #ffffff;
    text-align: center;
    clear: both;

}

/* clearfix to sort out the nav bar getting mess up*/
header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar { 
    width: 960px;
    margin: 0 auto;
}

.brand {
    background: #4aaaa5;
    color: #ffffff;
    padding: 20px 26px 20px 26px;  
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    border-left: 10px;
    font-weight: 550;
}


.links {
    float: right;
    background: #ffffff;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 22px;

    position: relative;
}

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: red;
}

/*create a pseudo element "before to create an effect on the top when hovering.*/
a::before {
    content: '';
    display: block;
    height: 5px;
    background: rgb(78, 76, 76);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

a:hover::before {
    width: 100%;
}

main {
    clear: both;
    margin: 0 auto;
    background:#ffffff;
    color: #777777;
    width: 960px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.container {
    width: 900px;
    margin: 10px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom-color: black;
    border-width: 700;
    
}


#image {
    float: left;
    margin: 10px 20px 10px 0;
}

p {
    padding-top: 8px;
    margin-top: 8px;
    line-height: 25px;
    
}

hr {
    color: rgb(211, 214, 213);
    width: 900px;
    margin: 0 0 20px 0;
}

footer {
    clear: both;
    overflow: 0 auto;
    margin: 0 auto;
    text-align: center;
    background: #666666;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 10px;
    border-top: 5px solid #4aaaa5;
    height: auto;


}/* Below CSS for CONTACT html*/

 .contact-main {
    clear: both;
    overflow: auto;
    margin: 0 auto;
    background:#ffffff;
    color: #777777;
    width: 960px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.container-form {
    width: 900px;
    margin: 10px;
}

.contact-title {
    width: 900px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 10px 0 0 0;
}


#label-name {
    padding: 30px 0 10px 0;
    margin-top: 30px;
}


#name {
    width: 900px;
    margin: 5px 0 13px 0;
    border-color: rgb(211, 214, 213);
    border-width: thin;
    padding: 5px 0 5px 0;
}

#email {
    width: 900px;
    margin: 5px 0 13px 0;
    border-color:rgb(211, 214, 213);
    padding: 5px 0 5px 0;
    border-width: thin;
}

#textarea {
    width: 900px;
    margin: 5px 0 13px 0;
    border-color: rgb(211, 214, 213);
}

#sub {
    background: #4aaaa5;
    color: #ffffff;
    padding: 8px 20px 8px 20px;
}


/* Below CSS codes for Portfolio */


.portfolio-main {
    clear: both;
    margin: 0 auto;
    background:#ffffff;
    color: #777777;
    width: 960px;
    height: 780px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.container-portfolio {
    width: 900px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: max-content;
}

h4 {
    color: #4aaaa5;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 10px 0 0 10px;
}

.box-set {
    width: 100%;
    margin: 10px;

}

.box {
    position: relative;
}

.box-1 {
    top: 10px;
}

.box-2 {
    top: -40px;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 250px;
    text-align: center;
}

.box-3 {
    top: -205px;
    left: 290px;
    height: 109px;
    padding: 0 0 0 0;
}

.box-4 {
    top:-185px;
    right: -290px;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 250px;
    text-align: center;
}

.box-5 {
    top: -130px;
}

.box-6 {
    top: -178px;
    left: 0px;
    margin: 0;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
    padding: 10px;
    width: 250px;
}

.box-7 {
    bottom: 345px;
    left: 290px;;
}

.box-8 {
    top:-395px;
    right: -290px;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 250px;
    text-align: center;
}

.box-9 {
    top: -340px;
}

.box-10 {
    top:-390px;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 250px;
    text-align: center;
}

#hr2 {
    color: rgb(211, 214, 213);
    width:100%;
    margin-left: 10px;
}

@media screen and (max-width: 980px) {
    body {
        width: 100%;
    }

    .navbar {
        width: 100%;
        background: #ffffff;
        padding-left: 30px;
    }

    .profile-wrap {
        margin-left: 30px;
        width: 670px;
    }

    .container {
        width: 680px;
    }

    hr {
        width: 91%;
        margin-right: 100px;
    }
    
    #image {
        width: 23%;
    }
    .wrapper {
        width: 88%;
    }

    
    /* media query for CONTACT */

    .contact-main {
        width: 670px;
        margin-left:  30px;
    }

    .container-form {
        width: 100%;
    }

    #name {
        width: 98.2%;
    }
    
    #email {
        width: 98.2%;
    }
    
    #textarea {
        width: 98.2%;
    }

    #highlight {
        width: 98.2%;
    }

    /* media query for PORTFOLIO */

    .portfolio-main {
        width: 670px;
        margin-left: 30px;
    }
    
    .container-portfolio {
        width: 670px;
    }

    .box-set {
     
    }
    

    #hr2 {
        width: 92.5%;
        margin: 0 0 20px 10px;
    }

}















@media screen and (max-width: 768px) {

    #pic1 {
        width: 250px;
        height: 175px;
    }
    
    .box-1 {
    
    }
    

    .box-2 {

    }

    #pic2 {
        width: 250px;
        height: 175px;    
    }  
    
    .box-3 {

    }
    
    .box-4 {

    }
    
    #pic3 {
        width: 250px;
        height: 175px;    
    }
    .box-5 {

    }
    
    .box-6 {

    }
  
    #pic4 {
        width: 250px;
        height: 175px;    
    }

    .box-7 {

    }
    
    .box-8 {

    }
    
    #pic5 {
        width: 250px;
        height: 175px;    
    }

    .box-9 {
 
    }
    
    .box-10 {
    }

}