* {
    box-sizing: border-box;
}

body {
    background:rgb(211, 214, 213);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
header {
    background: #ffffff;
    text-align: center;
    clear: both;

}

/* clearfix to sort out the nav bar getting mess up*/
header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar { 
    width: 960px;
    margin: 0 auto;
}

.brand {
    background: #4aaaa5;
    color: #ffffff;
    padding: 20px 26px 20px 26px;  
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    border-left: 10px;
    font-weight: 550;
}

.links {
    float: right;
    background: #ffffff;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 0;
    padding-top: 22px;
    position: relative;
}

#about {
    border-right-color: rgb(211, 214, 213);
    border-right-style: solid;
    border-width: thin;
    padding-right: 10px;
    color: #777777;
}

#portfolio {
    border-right-color: rgb(211, 214, 213);
    border-right-style: solid;
    border-width: thin;
    padding-right: 10px;
    padding-left: 7px;
    color: #777777;
}

#contact {
    padding-left: 7px;
    color: #777777;
}


/*create a pseudo element "before to create an effect on the top when hovering.*/
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:hover::before {
    width: 100%;
}

main {
    clear: both;
    margin: 0 auto;
    background:#ffffff;
    color: #777777;
    width: 960px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.container {
    width: 900px;
    margin: 10px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom-color: black;
    border-width: 700;
}

#image {
    float: left;
    margin: 10px 20px 10px 0;
}

p {
    padding-top: 8px;
    margin-top: 8px;
    line-height: 25px;
}

hr {
    color: rgb(211, 214, 213);
    width: 900px;
    margin: 0 0 20px 0;
}

footer {
    clear: both;
    overflow: 0 auto;
    margin: 0 auto;
    text-align: center;
    background: #666666;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 10px;
    border-top: 5px solid #4aaaa5;
    height: auto;


}/* Below CSS for CONTACT html*/

 .contact-main {
    clear: both;
    overflow: auto;
    margin: 0 auto;
    background:#ffffff;
    color: #777777;
    width: 960px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.container-form {
    width: 900px;
    margin: 10px;
}

.contact-title {
    width: 900px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 10px 0 0 0;
}

#label-name {
    padding: 30px 0 10px 0;
    margin-top: 30px;
}

#name {
    width: 900px;
    margin: 5px 0 13px 0;
    border-color: rgb(211, 214, 213);
    border-width: thin;
    padding: 5px 0 5px 0;
}

#email {
    width: 900px;
    margin: 5px 0 13px 0;
    border-color:rgb(211, 214, 213);
    padding: 5px 0 5px 0;
    border-width: thin;
}

#textarea {
    width: 900px;
    margin: 5px 0 13px 0;
    border-color: rgb(211, 214, 213);
}

#sub {
    background: #4aaaa5;
    color: #ffffff;
    padding: 8px 20px 8px 20px;
}


/* Below CSS codes for Portfolio */
.portfolio-main {
    clear: both;
    margin: 0 auto;
    background:#ffffff;
    color: #777777;
    width: 960px;
    height: 850px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.container-portfolio {
    width: 900px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    color: #4aaaa5;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 10px 0 0 0;
}

.box-set {
    width: 100%;
    margin: 0;
}

.box {
    position: relative;
}

.box-1 {
    top: 10px;
}

#pic1 {
    width: 280px;
    height: 205px;
}

.box-2 {
    top: -40px;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 280px;
    text-align: center;
}

.box-3 {
    top: -235px;
    left: 315px;
    height: 109px;
    padding: 0 0 0 0;
}

#pic2 {
    width: 280px;
    height: 205px;
}

.box-4 {
    bottom: 185px;
    right: -315px;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 280px;
    text-align: center;
}

.box-5 {
    top: -130px;
}

#pic3 {
    width: 280px;
    height: 205px;
}

.box-6 {
    top: -178px;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
    padding: 10px;
    width: 280px;
}

.box-7 {
    bottom: 375px;
    left: 315px;;
}

#pic4 {
    width: 280px;
    height: 205px;
}

.box-8 {
    top:-425px;
    right: -315px;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 280px;
    text-align: center;
}

.box-9 {
    top: -370px;
}

#pic5 {
    width: 280px;
    height: 205px;
}

.box-10 {
    top:-420px;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 280px;
    text-align: center;
}

#hr2 {
    color: rgb(211, 214, 213);
    width:100%;
    margin-left:0;
}

@media screen and (max-width: 980px) {
    body {
        width: 100%;
    }

    .navbar {
        width: 100%;
        background: #ffffff;
        padding-left: 30px;
    }

    .links {
        padding-right: 20px;
    }

    .profile-wrap {
        margin-left: 30px;
        width: 680px;
    }

    .container {
        width: 670px;
    }

    hr {
        width: 91%;
        margin-right: 100px;
    }
    
    #image {
        width: 23%;
    }
    .wrapper {
        width: 91.8%;
    }

    
    /* media query for CONTACT 980px*/
    .contact-main {
        width: 680px;
        margin-left:  30px;
    }

    .container-form {
        width: 670px;
    }

    #name {
        width: 98.2%;
    }
    
    #email {
        width: 98.2%;
    }
    
    #textarea {
        width: 98.2%;
    }

    #highlight {
        width: 98.2%;
    }

    /* media query for PORTFOLIO 980px */   
    .portfolio-main {
        width: 680px;
        margin-left: 30px;
    }
    
    .container-portfolio {
        width: 670px;
    }
   
    #hr2 {
        width: 92.5%;
        margin: 0 0 20px 0;
    }

}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    .navbar {
        width: 100%;
        background: #ffffff;
        padding-left: 20px;
    }

    .profile-wrap {
        margin-left: 20px;
        width: 95%;
    }

    .container {
        width: 99%;
    }

    hr {
        width: 98%;
        margin-right: 100px;
    }
    
    #image {
        width: 30%;
    }
    .wrapper {
        width: 98%;
        font-size: 14px;
    }
   
    /* media query for CONTACT 768px */
    .contact-main {
        width: 95%;
        margin-left:  20px;
    }

    .container-form {
        width: 99%;
    }

    #name {
        width: 98.2%;
    }
    
    #email {
        width: 98.2%;
    }
    
    #textarea {
        width: 98.2%;
    }

    #highlight {
        width: 98.2%;
    }

    /* media query for PORTFOLIO 768px */
    .portfolio-main {
        width: 95%;
        margin-left: 20px;
    }
    
    .container-portfolio {
        width: 99%;
    }
   
    #hr2 {
        width: 97.5%;
        margin: 0 0 20px 0;
        padding-left: 5px;
    }

    .box-1 {
        top: 10px;
        width: 110%;
    }

    #pic1 {
        width: 305px;
        height: 205px;
    }
    
    .box-2 {
        top: -40px; 
        width: 305px;
    }
    
    .box-3 {
        top: -235px;
        left: 337px;
        height: 109px;
        width: 305px;
    }

     #pic2 {
        width: 305px;
        height: 205px;
    }
    
    .box-4 {
        top:-185px;
        right: -337px;
        width: 305px;
    }
    
    .box-5 {
        top: -130px;
    }
    
    #pic3 {
        width: 305px;
        height: 205px;
    }

    .box-6 {
        top: -178px;
        left: 0px;
        width: 305px;
    }
    
    .box-7 {
        bottom: 375px;
        left: 337px;;
    }
    
    #pic4 {
        width: 305px;
        height: 205px;
    }

    .box-8 {
        top:-425px;
        right: -337px;
        width: 305px;
    }
    
    .box-9 {
        top: -370px;
    }

    #pic5 {
        width: 305px;
        height: 205px;
    }
    
    .box-10 {
        top:-420px;
        width: 305px;
    }
    
}

@media screen and (max-width: 640px) { 
    body {
        width: 100%;
    }

    header {
        position: static;
    }
    .navbar {
        width: 100%;
        background: #ffffff;
        margin: 0 auto;
    }

    .brand {
        background: #4aaaa5;
        color: #ffffff;
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 550;
    }
    
    .links {
        float: none;
        background: #ffffff;
        padding-bottom: 20px;
        list-style: none;
    }

    #about {
        padding-right: 10px;
    }
    
    #portfolio {
        padding-right: 10px;
        padding-left: 7px;
    }
    
    #contact {
        padding-left: 7px;
    }

    .profile-wrap {
        margin-left: 20px;
        width: 93%;
    }

    .container {
        width: 98%;
    }
   
    #image {
        width: 45%;
    }
    .wrapper {
        width: 98%;
        font-size: 14px;
    }
 
    /* media query for CONTACT 640px */
    .contact-main {
        width: 93%;
        margin-left:  20px;
        margin-top: 10px;
    }

    .container-form {
        width: 98%;
    }

    .contact-title {
        padding-bottom: 22px;
    }

    #name {
        width: 98.2%;
    }
    
    #email {
        width: 98.2%;
    }
    
    #textarea {
        width: 98.2%;
        height: 300px;
    }

    #highlight {
        width: 98.2%;
    }

    /* media query for PORTFOLIO 640px */
    .portfolio-main {
        width: 95%;
        margin-left: 20px;
        min-height: 2100px;
    }
    
    .container-portfolio {
        width: 99%;
    }
   
    #hr2 {
        width: 97.5%;
        margin: 0 0 20px 0;
        padding-left: 5px;
    }

    .box {
        clear: both; 
    }

    .box-1 {
        top: 10px;
        width: 99%;
    }

    #pic1 {
        width: 99%;
        height: auto ;
    }
    
    .box-2 {
        top: -60px;
        width: 98%;
    }
    
    .box-3 {
        top: 16px;
        left: 0px;
        width: 99%; 
        height: auto; 
    }

     #pic2 {
        width: 99%;
        height: auto;
    }
    
    .box-4 {
        top: -60px;
        width: 98%;
        right: 0px;
    }
    
    .box-5 {
        top: 23px ;
    }
    
    #pic3 {
        width: 98%;
        height: auto ;
    }

    .box-6 {
        top: -40px;
        left: 0px;
        width: 98%;
     }
    
    .box-7 {
        top: 30px ;
        left: 0px ;
    }
    
    #pic4 {
        width:98%;
        height: auto;
    }

    .box-8 {
        top: -40px;
        width: 98%;
        right: 0px;
    }
    
    .box-9 {
        top: 40px;
    }

    #pic5 {
        width: 98%;
        height: auto;
    }
    
    .box-10 {
        top: -30px;
        width: 98% ;
    }   
}













/* nice to have but not practical
/*.box-set::after {
    content: "";
    display: table;
    clear: both;
}
#biolink::before {
    content: '';
    display: block;
    height: 5px;
    background: #ffffff;
    color: #ffffff;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}